@import '../../styles/_variables.scss';
 html {
    margin: 0;
 }
.navbar-container {
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    z-index: 999 ;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;



}

.logo {
    margin-left: 50px;
    color: $secondary-color;
    font-weight: 900;
    font-size: 2rem;
    text-decoration: none;
}

.search {
    color: $secondary-color;
    margin-right: 10px;
    font-size: 20px;
}

.search-form {
    margin-right: 50px;
}

.search-input {
    height: 36px;
    outline: none;
    font-weight: 900;
    border: none;
    border-bottom: 2px solid $secondary-color;
    background-color: $primary-color;
    color: $secondary-color ;

    &::placeholder {
        color: $secondary-color;
    }
}

